In [1]:
import pandas as pd

# Series

In [2]:
data = [1,2,3,4,5]

In [4]:
s = pd.Series(data)

In [5]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
index = ['Linha' +  str(i) for i in range(5)]
#redefinindo index

In [11]:
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [12]:
s = pd.Series(data = data, index = index)
s
#atribuindo nova formataçao do index a Serie

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [13]:
data = {'Linha' + str(i) : i + 1 for i in range(5)}
data
#criando um dicionario atribuito a cada chave "linha i" um valor

In [21]:
s = pd.Series(data)
s
#assim não é necessário passar o valor do index pois a variável data ja tem uma valor atribuido em cada chave

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [23]:
s1 = s + 2
s1
# é possível realizar operações com a serie

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

## Data Frame

In [25]:
data = [[1,2,3],
        [4,5,6],
        [7,8,9]]

In [28]:
index = ['Linha' + str(i) for i in range(3)]
columns = ['Coluna' + str(i) for i in range(3)]
df1 = pd.DataFrame(data, index, columns)
df1
#criando DataFrame alterando o index e columns da função DataFrame

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [31]:
data = {'Coluna0' : {'Linha0':1,'Linha1':2,'Linha2':3},
        'Coluna1' : {'Linha0':4,'Linha1':5,'Linha2':6},
        'Coluna2' : {'Linha0':7,'Linha1':8,'Linha2':9}}
df2 = pd.DataFrame(data)
df2
#criando DataFrame a partir de uma variável só

        Coluna0  Coluna1  Coluna2
Linha0        1        4        7
Linha1        2        5        8
Linha2        3        6        9

In [32]:
df1[df1 > 0] = 'A'
df1
#alterando valores que sao > 1

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A

In [33]:
df2[df2 > 0] = 'B'
df2

       Coluna0 Coluna1 Coluna2
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [34]:
df4 = pd.concat([df1, df2])
df4
#concatenando DataFrames a partir das colunas

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [35]:
df4 = pd.concat([df1, df2], axis = 1)
df4
#concatenando DataFrames a partir das Linhas

       Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2
Linha0       A       A       A       B       B       B
Linha1       A       A       A       B       B       B
Linha2       A       A       A       B       B       B